@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.Extensions.Hosting
@using System.Text.Json

@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment Env

@{
    var manifest = new Dictionary<string, string>();
    if (!Env.IsDevelopment())
    {
        manifest = JsonSerializer.Deserialize<Dictionary<string,string>>(
            System.IO.File.ReadAllText(
                System.IO.Path.Combine(Env.WebRootPath, "angular/manifest.json")
            )
        );
    }
    
    var userAgent = Context.Request.Headers["User-Agent"].ToString();
    var isBot = userAgent.Contains("Googlebot") || userAgent.Contains("Bingbot") || userAgent.Contains("Yandex");
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | SpeechFlow</title>
    <meta name="description" content="@ViewData["Description"]" />
    <meta name="keywords" content="@ViewData["Keywords"]" />

    <meta name="description" content="Онлайн-тренажер по улучшению речи, упражнения для дикции и уверенной коммуникации." />
    
    @if (!Env.IsDevelopment())
    {
        <link rel="stylesheet" href="/angular/@manifest["styles"]" />
    }
    else
    {
        <link rel="stylesheet" href="http://localhost:4200/styles.css" />
    }

</head>
<body>
<header>
    <div class="header-container">
        <div class="logo">
            <a href="@Url.Action("Index", "Home")">
                <img src="~/images/logo.png" alt="SpeechFlow" />
                <span>SpeechFlow</span>
            </a>
            
        </div>
        <nav>
            <ul class="nav-menu">
                <li><a class="nav-item" href="@Url.Action("Index", "Home")">Главная</a></li>
                <li><a class="nav-item" href="@Url.Action("Index", "Calendar")">Календарь</a></li>
                <li><a class="nav-item" href="@Url.Action("Index", "Texts")">Тексты</a></li>
                @* <li><app-nav-item path="/texts" btn="Тексты"></app-nav-item></li> *@
                <li><a class="nav-item" href="@Url.Action("Exercises", "Home")">Упражнения</a></li>
                <li><a class="nav-item" href="@Url.Action("VoiceAnalisys", "Home")">Анализ голоса</a></li>
                <li><a class="nav-item" href="@Url.Action("AboutProject", "Home")">О проекте</a></li>
            </ul>
        </nav>
        <app-account></app-account>
    </div>
</header>

<main class="stu-container">
    @RenderBody()
</main>

<app-root></app-root>

@if (!Env.IsDevelopment())
{
    <script src="/angular/@manifest["polyfills"]" type="module"></script>
    <script src="/angular/@manifest["main"]" type="module"></script>
}
else
{
    <script type="module" src="http://localhost:4200/main.js"></script>
}
@if (isBot)
{
    <footer>
        <p>© @DateTime.Now.Year — SpeechFlow</p>
        <nav>
            <a href="/home">Главная</a>
            <a href="/about">О проекте</a>
        </nav>
    </footer>
}
</body>
</html>