@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.Extensions.Hosting
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment Env
@using System.Text.Json

@{
    var manifest = new Dictionary<string, string>();
    if (!Env.IsDevelopment())
    {
        manifest = JsonSerializer.Deserialize<Dictionary<string,string>>(
            System.IO.File.ReadAllText(
                System.IO.Path.Combine(Env.WebRootPath, "angular/manifest.json")
            )
        );
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Тренажер для речи</title>
    <meta name="description" content="Онлайн-тренажер по улучшению речи, упражнения для дикции и уверенной коммуникации." />
    
    @if (!Env.IsDevelopment())
    {
        <link rel="stylesheet" href="/angular/@manifest["styles"]" />
        @* <link rel="stylesheet" href="styles.css"/> *@
    }
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

</head>
<body>

<header>
    <div class="container header-container">
        <div class="logo">
            <a href="@Url.Action("Index", "Home")">
                <img src="~/images/logo.png" alt="Школа улучшения речи" />
            </a>
        </div>
        <nav>
            <ul class="nav-menu">
                <li><a href="@Url.Action("Index", "Home")">Главная</a></li>
                <li><a href="@Url.Action("Calendar", "Home")">Календарь</a></li>
                <li><a href="@Url.Action("Texts", "Home")">Тексты</a></li>
                <li><a href="@Url.Action("Exercises", "Home")">Упражнения</a></li>
                <li><a href="@Url.Action("VoiceAnalisys", "Home")">Анализ голоса</a></li>
                <li><a href="@Url.Action("AboutProject", "Home")">О проекте</a></li>
            </ul>
        </nav>
    </div>
</header>


@RenderBody()

@* angular app *@
<app-root></app-root>

@if (!Env.IsDevelopment())
{
    <script src="/angular/@manifest["polyfills"]" type="module"></script>
    <script src="/angular/@manifest["main"]" type="module"></script>
    @* <script src="polyfills.js" type="module"></script> *@
    @* <script src="main.js" type="module"></script> *@
}
else
{
    <script type="module" src="http://localhost:4200/main.js"></script>
}
</body>


</html>